/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 1440px) {
  #header {
    padding: 1em;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 5px rgba(107, 66, 5, 0.911);
    position: fixed;
  }
  #header aside {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3vh;
  }
  #header aside section {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
  }
  #header aside section figure {
    display: flex;
    justify-content: center;
  }
  #header aside section figure a img {
    height: 20vh;
  }
  #header aside section h1 {
    font-family: "Irish Grover", cursive;
    text-align: center;
    font-size: 2.4em;
    padding-bottom: 0.2em;
    border-bottom: solid 2px;
  }
  #header aside nav {
    margin-top: 4vh;
  }
  #header aside nav .menu-navigation-container #menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 10;
  }
  #header aside nav .menu-navigation-container #menu-navigation li {
    text-align: center;
    height: 2.4em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a {
    text-decoration: none;
    color: black;
    font-size: 1.6em;
    font-family: "Sofadi One", cursive;
    width: auto;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a:hover {
    color: rgba(107, 66, 5, 0.911);
    font-weight: 800;
  }
  #header aside nav .menu-navigation-container #menu-navigation li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }
  #header aside nav .menu-navigation-container #menu-navigation li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.2em;
    margin-left: 13vw;
    width: 17vw;
    height: 22vh;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside nav #social-icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin-top: 5em;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  #header {
    padding: 1em;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 5px rgba(107, 66, 5, 0.911);
    position: fixed;
  }
  #header aside {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3vh;
  }
  #header aside section {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
  }
  #header aside section figure {
    display: flex;
    justify-content: center;
  }
  #header aside section figure a img {
    height: auto;
  }
  #header aside section h1 {
    font-family: "Irish Grover", cursive;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 0.2em;
    border-bottom: solid 2px;
  }
  #header aside nav {
    margin-top: 3vh;
  }
  #header aside nav .menu-navigation-container #menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li {
    text-align: center;
    height: 2.4em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-family: "Sofadi One", cursive;
    width: auto;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a:hover {
    color: rgba(107, 66, 5, 0.911);
    font-weight: 800;
  }
  #header aside nav .menu-navigation-container #menu-navigation li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }
  #header aside nav .menu-navigation-container #menu-navigation li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.2em;
    margin-left: 13vw;
    width: 15vw;
    height: 20vh;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside nav #social-icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin-top: 5em;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #header {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside {
    display: flex;
    flex-direction: row;
    gap: 8em;
  }
  #header aside section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 8vh;
  }
  #header aside section figure {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #header aside section figure a img {
    height: auto;
  }
  #header aside section h1 {
    font-family: "Irish Grover", cursive;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 0.2em;
    border-bottom: solid 2px;
  }
  #header aside nav {
    margin-top: 3vh;
  }
  #header aside nav .menu-navigation-container #menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li {
    text-align: center;
    height: 2.4em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-family: "Sofadi One", cursive;
    width: auto;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a:hover {
    color: rgba(107, 66, 5, 0.911);
    font-weight: 800;
  }
  #header aside nav .menu-navigation-container #menu-navigation li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }
  #header aside nav .menu-navigation-container #menu-navigation li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.2em;
    margin-left: 13vw;
    width: 15vw;
    height: 20vh;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside nav #social-icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
  }
}
@media (min-width: 427px) and (max-width: 767px) {
  #header {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside {
    display: flex;
    flex-direction: row;
    gap: 8em;
  }
  #header aside section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 8vh;
  }
  #header aside section figure {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #header aside section figure a img {
    height: auto;
  }
  #header aside section h1 {
    font-family: "Irish Grover", cursive;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 0.2em;
    border-bottom: solid 2px;
  }
  #header aside nav {
    margin-top: 3vh;
  }
  #header aside nav .menu-navigation-container #menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li {
    text-align: center;
    height: 2.4em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-family: "Sofadi One", cursive;
    width: auto;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a:hover {
    color: rgba(107, 66, 5, 0.911);
    font-weight: 800;
  }
  #header aside nav .menu-navigation-container #menu-navigation li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }
  #header aside nav .menu-navigation-container #menu-navigation li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.2em;
    margin-left: 13vw;
    width: 15vw;
    height: 20vh;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside nav #social-icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
  }
}
@media (max-width: 426px) {
  #header {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside {
    display: flex;
    flex-direction: row;
    gap: 8em;
  }
  #header aside section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 8vh;
  }
  #header aside section figure {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #header aside section figure a img {
    height: auto;
  }
  #header aside section h1 {
    font-family: "Irish Grover", cursive;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 0.2em;
    border-bottom: solid 2px;
  }
  #header aside nav {
    margin-top: 3vh;
  }
  #header aside nav .menu-navigation-container #menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li {
    text-align: center;
    height: 2.4em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-family: "Sofadi One", cursive;
    width: auto;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a:hover {
    color: rgba(107, 66, 5, 0.911);
    font-weight: 800;
  }
  #header aside nav .menu-navigation-container #menu-navigation li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }
  #header aside nav .menu-navigation-container #menu-navigation li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.2em;
    margin-left: 13vw;
    width: 15vw;
    height: 20vh;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside nav #social-icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
  }
}
@media (max-height: 870px) {
  #header {
    padding: 1em;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 5px rgba(107, 66, 5, 0.911);
    position: sticky;
  }
  #header aside {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3vh;
  }
  #header aside section {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
  }
  #header aside section figure {
    display: flex;
    justify-content: center;
  }
  #header aside section figure a img {
    height: auto;
  }
  #header aside section h1 {
    font-family: "Irish Grover", cursive;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 0.2em;
    border-bottom: solid 2px;
  }
  #header aside nav {
    margin-top: 3vh;
  }
  #header aside nav .menu-navigation-container #menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li {
    text-align: center;
    height: 2.4em;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family: "Sofadi One", cursive;
    width: auto;
  }
  #header aside nav .menu-navigation-container #menu-navigation li a:hover {
    color: rgba(107, 66, 5, 0.911);
    font-weight: 800;
  }
  #header aside nav .menu-navigation-container #menu-navigation li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
  }
  #header aside nav .menu-navigation-container #menu-navigation li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.2em;
    margin-left: 13vw;
    width: 15vw;
    height: 20vh;
    border: solid 5px rgba(107, 66, 5, 0.911);
  }
  #header aside nav #social-icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    margin-top: 5em;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 2.5fr 8fr;
  }
  body #accueil {
    grid-column: 2/3;
    grid-column: 2/3;
    margin-left: 1vw;
    margin-top: 5px;
    margin-right: 2vw;
    padding-left: 2em;
    padding-right: 2em;
  }
  body #accueil section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  body #accueil section h1:first-of-type {
    display: none;
  }
  body #accueil section p:first-of-type {
    display: none;
  }
  body #accueil section h1 {
    font-family: "Irish Grover", cursive;
    font-size: 2.4rem;
    color: black;
  }
  body #accueil section h2 {
    font-family: "Irish Grover", cursive;
    font-size: 2.2rem;
    color: black;
  }
  body #accueil section h3 {
    font-family: "Irish Grover", cursive;
    font-size: 2rem;
    color: black;
  }
  body #accueil section figure {
    align-self: center;
  }
  body #accueil section p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section ul li {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section #metaslider-id-211 {
    background-color: #f2eecb;
    padding: 2em;
    border-radius: 1.5em;
    border: solid 2.5px rgba(107, 66, 5, 0.911);
  }
  body #accueil section #metaslider-id-211 img {
    justify-self: center;
    align-self: center;
    border-radius: 1.5em;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 2.5fr 8fr;
  }
  body #accueil {
    grid-column: 2/3;
    grid-column: 2/3;
    margin-left: 1vw;
    margin-top: 5px;
    margin-right: 2vw;
    padding-left: 2em;
    padding-right: 2em;
  }
  body #accueil section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  body #accueil section h1:first-of-type {
    display: none;
  }
  body #accueil section p:first-of-type {
    display: none;
  }
  body #accueil section h1 {
    font-family: "Irish Grover", cursive;
    font-size: 2.4rem;
    color: black;
  }
  body #accueil section h2 {
    font-family: "Irish Grover", cursive;
    font-size: 2.2rem;
    color: black;
  }
  body #accueil section h3 {
    font-family: "Irish Grover", cursive;
    font-size: 2rem;
    color: black;
  }
  body #accueil section figure {
    align-self: center;
  }
  body #accueil section p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section ul li {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section #metaslider-id-211 {
    background-color: #f2eecb;
    padding: 2em;
    border-radius: 1.5em;
    border: solid 2.5px rgba(107, 66, 5, 0.911);
  }
  body #accueil section #metaslider-id-211 img {
    justify-self: center;
    align-self: center;
    border-radius: 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  body #accueil {
    margin-left: 1vw;
    margin-top: 5px;
    margin-right: 2vw;
    padding-left: 2em;
    padding-right: 2em;
  }
  body #accueil section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  body #accueil section h1:first-of-type {
    display: none;
  }
  body #accueil section p:first-of-type {
    display: none;
  }
  body #accueil section h1 {
    font-family: "Irish Grover", cursive;
    font-size: 2.4rem;
    color: black;
  }
  body #accueil section h2 {
    font-family: "Irish Grover", cursive;
    font-size: 2.2rem;
    color: black;
  }
  body #accueil section h3 {
    font-family: "Irish Grover", cursive;
    font-size: 2rem;
    color: black;
  }
  body #accueil section figure {
    align-self: center;
  }
  body #accueil section p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section ul li {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section #metaslider-id-211 {
    background-color: #f2eecb;
    padding: 2em;
    border-radius: 1.5em;
    border: solid 2.5px rgba(107, 66, 5, 0.911);
  }
  body #accueil section #metaslider-id-211 img {
    justify-self: center;
    align-self: center;
    border-radius: 1.5em;
  }
}
@media (min-width: 427px) and (max-width: 767px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  body #accueil {
    margin-left: 1vw;
    margin-top: 5px;
    margin-right: 2vw;
    padding-left: 2em;
    padding-right: 2em;
  }
  body #accueil section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  body #accueil section h1:first-of-type {
    display: none;
  }
  body #accueil section p:first-of-type {
    display: none;
  }
  body #accueil section h1 {
    font-family: "Irish Grover", cursive;
    font-size: 2.4rem;
    color: black;
  }
  body #accueil section h2 {
    font-family: "Irish Grover", cursive;
    font-size: 2.2rem;
    color: black;
  }
  body #accueil section h3 {
    font-family: "Irish Grover", cursive;
    font-size: 2rem;
    color: black;
  }
  body #accueil section figure {
    align-self: center;
  }
  body #accueil section p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section ul li {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section #metaslider-id-211 {
    background-color: #f2eecb;
    padding: 2em;
    border-radius: 1.5em;
    border: solid 2.5px rgba(107, 66, 5, 0.911);
  }
  body #accueil section #metaslider-id-211 img {
    justify-self: center;
    align-self: center;
    border-radius: 1.5em;
  }
}
@media (max-width: 426px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  body #accueil {
    margin-left: 1vw;
    margin-top: 5px;
    margin-right: 2vw;
    padding-left: 2em;
    padding-right: 2em;
  }
  body #accueil section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  body #accueil section h1:first-of-type {
    display: none;
  }
  body #accueil section p:first-of-type {
    display: none;
  }
  body #accueil section h1 {
    font-family: "Irish Grover", cursive;
    font-size: 2.4rem;
    color: black;
  }
  body #accueil section h2 {
    font-family: "Irish Grover", cursive;
    font-size: 2.2rem;
    color: black;
  }
  body #accueil section h3 {
    font-family: "Irish Grover", cursive;
    font-size: 2rem;
    color: black;
  }
  body #accueil section figure {
    align-self: center;
  }
  body #accueil section figure img {
    width: auto;
  }
  body #accueil section p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section ul li {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: black;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 2.5rem;
  }
  body #accueil section #metaslider-id-211 {
    background-color: #f2eecb;
    padding: 2em;
    border-radius: 1.5em;
    border: solid 2.5px rgba(107, 66, 5, 0.911);
  }
  body #accueil section #metaslider-id-211 img {
    justify-self: center;
    align-self: center;
    border-radius: 1.5em;
  }
}
#clairieres {
  grid-column: 2/3;
  display: grid;
  padding: 3rem;
  width: 92%;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#clairieres > h1 {
  text-align: center;
  font-family: "Irish Grover", cursive;
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
}
#clairieres > h2 {
  font-family: "Irish Grover", cursive;
  font-size: 2.1rem;
  margin-bottom: 1.8rem;
}
#clairieres > p {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}

#clairiere {
  margin-top: 8vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  grid-column: 2/3;
  display: grid;
  height: 60vh;
  width: 90%;
  padding: 3rem;
  min-height: 785px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}
#clairiere > section:nth-of-type(1) {
  display: grid;
  grid-row: 1/2;
}
#clairiere > section:nth-of-type(1) > figure {
  align-self: center;
}
#clairiere > section:nth-of-type(1) > figure > img {
  width: 100%;
}
#clairiere > section:nth-of-type(2) {
  font-size: 1.8rem;
  min-width: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}
#clairiere > section:nth-of-type(2) > p {
  font-size: 1.8rem;
  line-height: 2rem;
  width: 92%;
  margin: 0 auto;
}
#clairiere > section:nth-of-type(2) > p > span {
  font-weight: bold;
}
#clairiere > section:nth-of-type(3) {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
}
#clairiere > section:nth-of-type(3) > h2 {
  font-size: 2rem;
  font-weight: bold;
}
#clairiere > section:nth-of-type(3) > p {
  line-height: 2rem;
  font-size: 1.8rem;
}
#clairiere > section:nth-of-type(4) {
  padding: 0.1rem;
  min-height: 509px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#clairiere > section:nth-of-type(4) > figure {
  padding: 0.7rem;
}
#clairiere > section:nth-of-type(4) > figure > img {
  width: 100%;
  max-height: 450px;
  height: 100%;
}

.tribe-common {
  grid-column: 2/3;
}

#tribe-events-pg-template {
  grid-column: 2/3;
}

#contact {
  grid-column: 2/3;
  display: grid;
  padding: 3rem;
  width: 92%;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#contact > h1 {
  text-align: center;
  font-family: "Irish Grover", cursive;
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
}
#contact > h2 {
  font-family: "Irish Grover", cursive;
  font-size: 2.1rem;
  margin-bottom: 1.8rem;
}
#contact > p {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}

#kad {
  grid-column: 2/3;
}

#enseignement {
  grid-column: 2/3;
  display: grid;
  padding: 3rem;
  width: 92%;
  margin: 0 auto;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#enseignement > h1 {
  line-height: 2.5rem;
  text-align: center;
  font-family: "Irish Grover", cursive;
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
}
#enseignement > h2 {
  line-height: 3.3rem;
  font-family: "Irish Grover", cursive;
  font-size: 2.1rem;
  margin-bottom: 1.8rem;
  text-align: center;
}
#enseignement > p {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  text-align: center;
  line-height: 3.3rem;
}

#kredenn-geltiek {
  grid-column: 2/3;
  display: grid;
  padding: 3rem;
  width: 92%;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#kredenn-geltiek > h1 {
  text-align: center;
  font-family: "Irish Grover", cursive;
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
}
#kredenn-geltiek > h2 {
  font-family: "Irish Grover", cursive;
  font-size: 2.1rem;
  margin-bottom: 1.8rem;
}
#kredenn-geltiek > p {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}

#les-actions {
  grid-column: 2/3;
  display: grid;
  padding: 3rem;
  width: 92%;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#les-actions > h1 {
  text-align: center;
  font-family: "Irish Grover", cursive;
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
}
#les-actions > h2 {
  font-family: "Irish Grover", cursive;
  font-size: 2.1rem;
  margin-bottom: 1.8rem;
}
#les-actions > p {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
