@media (min-width: 1440px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 3fr 8fr;

        #accueil
        {
            grid-column: 2/3;
            grid-column: 2/3;
            margin-left: 1vw;
            margin-top: 5px;
            margin-right: 2vw;
            padding-left: 2em;
            padding-right: 2em;

            h1:first-of-type 
            {
                display: none;
            }

            p:first-of-type
            {
                display: none;
            }            

            section 
            {
                display: flex;
                flex-direction: column;
                gap: 2em;

                ul:first-of-type{
                    li 
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        line-height: 3rem;
                    }
                }

                ul:nth-of-type(2){
                    display: flex;
                    flex-direction: row;
                    gap: 10rem;
                    li 
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        line-height: 3rem;
                        width: 35vw;
                    }

                    figure{
                        
                        img{
                            border-radius: 2.5em;
                            width: 100%;
                        }
                    }
                }

                ul:nth-of-type(3){
                    display: flex;
                    flex-direction: row-reverse;
                    gap: 14rem;
                    li 
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        line-height: 3rem;
                        width: 35vw;
                    }

                    figure{
                        
                        img{
                            border-radius: 2.5em;
                            width: 100%;
                        }
                    }
                }
                
                ul:nth-of-type(4){
                    display: flex;
                    flex-direction: column;
                    gap: 5rem;
                    li:first-of-type
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: red;
                        line-height: 3rem;
                        
                    }
                    li:last-of-type
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        line-height: 3rem;
                        
                    }

                    figure{
                        
                        img{
                            border-radius: 2.5em;
                            width: 100%;
                        }
                    }
                }

                ul:last-of-type{
                    
                    li:first-of-type
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        line-height: 3rem;
                        display: flex;
                        flex-direction: row;
                    }
                
                    figure{
                        
                        img{
                            border-radius: 2.5em;
                            
                        }
                    }
                }

                h1
                {
                    text-decoration: underline;
                    text-underline-offset: 1rem;
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.4rem;
                    color: black;
                }
                h2
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.2rem;
                    color: black;
                }
                h3
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2rem;
                    color: black;

                }

                p
                {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;
                    color: black;
                    line-height: 3rem;
                    
                }

                #metaslider-id-211
                {
                    background-color: white;
                    padding: 2em;
                    border: solid 0.5em rgba(107, 66, 5, 0.911);
                    box-shadow: 10px 10px 5px rgba(107, 66, 5, 0.911);

                    img 
                    {
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 3fr 8fr;

        #accueil
        {
            grid-column: 2/3;
            grid-column: 2/3;
            margin-left: 1vw;
            margin-top: 5px;
            margin-right: 2vw;
            padding-left: 2em;
            padding-right: 2em;

            section 
            {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1:first-of-type 
                {
                    display: none;
                }

                p:first-of-type
                {
                    display: none;
                }

                h1
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.4rem;
                    color: black;
                }
                h2
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.2rem;
                    color: black;
                }
                h3
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2rem;
                    color: black;

                }

                figure 
                {
                    align-self: center;
                    img 
                    {
                        
                    }
                }

                p
                {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;
                    color: black;
                    padding-right: 5em;
                    padding-left: 5em;
                    line-height: 3rem;
                    
                }

                ul 
                {
                    li 
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        padding-right: 5em;
                        padding-left: 5em;
                        line-height: 3rem;
                    }
                }

                #metaslider-id-211
                {
                    background-color: #f2eecb;
                    padding: 2em;
                    border-radius: 1.5em;
                    border: solid 3px rgba(107, 66, 5, 0.911);

                    img 
                    {
                        justify-self: center;
                        align-self: center;
                        border-radius: 1.5em;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;

        #accueil
        {
            margin-left: 1vw;
            margin-top: 5px;
            margin-right: 2vw;
            padding-left: 2em;
            padding-right: 2em;

            section 
            {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1:first-of-type 
                {
                    display: none;
                }

                p:first-of-type
                {
                    display: none;
                }

                h1
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.4rem;
                    color: black;
                }
                h2
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.2rem;
                    color: black;
                }
                h3
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2rem;
                    color: black;

                }

                figure 
                {
                    align-self: center;
                    img 
                    {
                        
                    }
                }

                p
                {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;
                    color: black;
                    padding-right: 5em;
                    padding-left: 5em;
                    line-height: 3rem;
                    
                }

                ul 
                {
                    li 
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        padding-right: 5em;
                        padding-left: 5em;
                        line-height: 3rem;
                    }
                }

                #metaslider-id-211
                {
                    background-color: #f2eecb;
                    padding: 2em;
                    border-radius: 1.5em;
                    border: solid 3px rgba(107, 66, 5, 0.911);

                    img 
                    {
                        justify-self: center;
                        align-self: center;
                        border-radius: 1.5em;
                    }
                }
            }
        }
    }
}

@media (min-width: 427px) and (max-width: 767px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;

        #accueil
        {
            margin-left: 1vw;
            margin-top: 5px;
            margin-right: 2vw;
            padding-left: 2em;
            padding-right: 2em;

            section 
            {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1:first-of-type 
                {
                    display: none;
                }

                p:first-of-type
                {
                    display: none;
                }

                h1
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.4rem;
                    color: black;
                }
                h2
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.2rem;
                    color: black;
                }
                h3
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2rem;
                    color: black;

                }

                figure 
                {
                    align-self: center;
                    img 
                    {
                        
                    }
                }

                p
                {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;
                    color: black;
                    padding-right: 5em;
                    padding-left: 5em;
                    line-height: 3rem;
                    
                }

                ul 
                {
                    li 
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        padding-right: 5em;
                        padding-left: 5em;
                        line-height: 3rem;
                    }
                }

                #metaslider-id-211
                {
                    background-color: #f2eecb;
                    padding: 2em;
                    border-radius: 1.5em;
                    border: solid 3px rgba(107, 66, 5, 0.911);

                    img 
                    {
                        justify-self: center;
                        align-self: center;
                        border-radius: 1.5em;
                    }
                }
            }
        }
    }
}

@media (max-width: 426px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;

        #accueil
        {
            margin-left: 1vw;
            margin-top: 5px;
            margin-right: 2vw;
            padding-left: 2em;
            padding-right: 2em;

            section 
            {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1:first-of-type 
                {
                    display: none;
                }

                p:first-of-type
                {
                    display: none;
                }

                h1
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.4rem;
                    color: black;
                }
                h2
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2.2rem;
                    color: black;
                }
                h3
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2rem;
                    color: black;

                }

                figure 
                {
                    align-self: center;

                    img 
                    {
                        width: auto;
                    }
                }

                p
                {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;
                    color: black;
                    padding-right: 5em;
                    padding-left: 5em;
                    line-height: 3rem;
                    
                }

                ul 
                {
                    li 
                    {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: black;
                        padding-right: 5em;
                        padding-left: 5em;
                        line-height: 3rem;
                    }
                }
                #metaslider-id-211
                {
                    background-color: #f2eecb;
                    padding: 2em;
                    border-radius: 1.5em;
                    border: solid 3px rgba(107, 66, 5, 0.911);

                    img 
                    {
                        justify-self: center;
                        align-self: center;
                        border-radius: 1.5em;
                    }
                }
            }
        }
    }
}
