@media (min-width: 1440px) and (max-width: 2560px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1.8fr 8.2fr;

        #accueil
        {
            grid-column: 2/3;
            margin-left: 1vw;
            margin-top: 5px;
            margin-right: 2vw;
            padding-left: 2em;
            padding-right: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            background-image: linear-gradient(
                45deg,
                hsl(160deg 93% 23%) 0%,
                hsl(148deg 59% 29%) 11%,
                hsl(136deg 44% 32%) 23%,
                hsl(119deg 34% 35%) 35%,
                hsl(102deg 40% 34%) 46%,
                hsl(90deg 45% 33%) 58%,
                hsl(79deg 51% 32%) 69%,
                hsl(70deg 56% 31%) 80%,
                hsl(62deg 60% 30%) 91%,
                hsl(55deg 66% 31%) 100%
            );

            section 
            {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1:first-of-type 
                {
                    display: none;
                }

                p:first-of-type
                {
                    display: none;
                }

                h1
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2em;
                    color: rgba(107, 66, 5, 0.911);
                }
                h2
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 1.6em;
                    color: rgba(107, 66, 5, 0.911);
                }
                h3
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 1.4em;
                    color: rgba(107, 66, 5, 0.911);

                }

                figure 
                {
                    align-self: center;
                    img 
                    {
                        
                    }
                }

                p
                {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.2em;
                    color: rgba(107, 66, 5, 0.911);
                    font-weight: 800;
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439.99px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1.8fr 8.2fr;

        #accueil
        {
            grid-column: 2/3;
            margin-left: 6vw;
            margin-top: 5px;
            margin-right: 2vw;
            padding-left: 2em;
            padding-right: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            background-image: linear-gradient(
                45deg,
                hsl(160deg 93% 23%) 0%,
                hsl(148deg 59% 29%) 11%,
                hsl(136deg 44% 32%) 23%,
                hsl(119deg 34% 35%) 35%,
                hsl(102deg 40% 34%) 46%,
                hsl(90deg 45% 33%) 58%,
                hsl(79deg 51% 32%) 69%,
                hsl(70deg 56% 31%) 80%,
                hsl(62deg 60% 30%) 91%,
                hsl(55deg 66% 31%) 100%
            );

            section 
            {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1:first-of-type 
                {
                    display: none;
                }

                p:first-of-type
                {
                    display: none;
                }

                h1
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 2em;
                    color: rgba(107, 66, 5, 0.911);
                }
                h2
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 1.6em;
                    color: rgba(107, 66, 5, 0.911);
                }
                h3
                {
                    font-family: 'Irish Grover', cursive;
                    font-size: 1.4em;
                    color: rgba(107, 66, 5, 0.911);

                }

                figure 
                {
                    align-self: center;
                    img 
                    {
                        
                    }
                }

                p
                {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.2em;
                    color: rgba(107, 66, 5, 0.911);
                    font-weight: 800;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023.99px)
{
    
}

@media (min-width: 425px) and (max-width: 767.99px)
{
    
}
