.tribe-common {

    grid-column: 2/3;
}
#tribe-events-pg-template{
    grid-column: 2/3;
}

.tribe-events-before-html {

    &>section {
        
        margin-bottom: 3rem;

        &>h1
        {
            font-family: 'Irish Grover', cursive;
            font-size: 2.4rem;
            color: black;
            text-align: center;
        }

        &>p
        {
            font-family: 'Roboto', sans-serif;
            font-size: 1.3rem;
            color: black;
            padding-right: 5em;
            padding-left: 5em;
            line-height: 3rem;
        }
    }
}
