#enseignement{
    grid-column: 2/3;
    display: grid;
    padding: 3rem;
    width: 92%;
    margin:0 auto;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
   
    &>h1{
        line-height: 2.5rem;
        text-align: center;
        font-family:  'Irish Grover', cursive;
        font-size: 2.4rem;
        margin-bottom: 2.2rem;
    }

    &>h2{
        line-height: 3.3rem;
        font-family:  'Irish Grover', cursive;
        font-size: 2.2rem;
        margin-bottom: 1.8rem;
        // justify-self: flex-start;
        text-align: center;
    }

    &>nav{
        ul{
            display: flex;
            flex-direction: row;
            gap: 1em;
            li{
                background-color:  rgba(107, 66, 5, 0.911);
                a{
                    line-height: 3.3rem;
                    font-family: "Sofadi One", cursive;
                    font-size: 1.8rem;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    padding: 0.4em;
                }

                a:hover{
                    box-shadow: 0 0 20px rgba(33,33,33); 
                }
            }
        }
    }

    &>p{
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
        padding-left: 1rem;
        text-align: center;
        line-height: 3.3rem;
        }
}