@media (min-width: 1440px)
{
    #header
    {
        
        padding: 1em;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        border: solid 5px rgba(107, 66, 5, 0.911);
        position: fixed;
        

        aside
        {
            display: flex;
            flex-direction: column;
            gap: 3em;
            margin-top: 3vh;
            

            section
            {
                display: flex;
                flex-direction: column;
                gap: 1.4em;
                

                figure 
                {
                    display: flex;
                    justify-content: center;

                    a 
                    {
                        img 
                        {
                            height: 20vh;
                            
                        }
                    }
                }

                h1 
                {
                    font-family: 'Irish Grover', cursive;
                    text-align: center;
                    font-size: 2.2em;
                    padding-bottom: 0.2em;
                    border-bottom: solid 2px;
                }

                h2
                {
                    font-family: 'Irish Grover', cursive;
                    text-align: center;
                    font-size: 1.6em;
                    padding-bottom: 0.2em;
                    border-bottom: solid 2px;
                }
            }
            

            nav 
            {
                margin-top: 3vh;
                
                .menu-navigation-container //div
                {
                    

                    #menu-navigation //ul
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        z-index: 10;

                        li 
                        {
                            text-align: center;
                            height: 2.4em;

                            a 
                            {
                                text-decoration: none;
                                color: black;
                                font-size: 1.6em;
                                font-family: 'Sofadi One', cursive;
                                width: auto;
                            }

                            a:hover 
                            {
                                color: rgba(107, 66, 5, 0.911);
                                font-weight: 800;
                            }

                            .sub-menu
                            {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                display: none;

                            }
                        }

                        li:hover .sub-menu
                        {
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            padding-top: 1.2em;
                            margin-left: 13vw;
                            width: 17vw;
                            height: 22vh;
                            border: solid 5px rgba(107, 66, 5, 0.911);

                        }

                    }
                }

                #social-icons
                {
                    display: flex;
                    flex-direction: row;
                    gap: 2em;
                    justify-content: center;
                    margin-top: 3.5em;

                    li 
                    {

                    }
                }
                
            }
            
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439px)
{
    #header
    {
        padding: 1em;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        border: solid 5px rgba(107, 66, 5, 0.911);
        position: fixed;
        

        aside
        {
            display: flex;
            flex-direction: column;
            gap: 3em;
            margin-top: 3vh;
            

            section
            {
                display: flex;
                flex-direction: column;
                gap: 1.4em;
                

                figure 
                {
                    display: flex;
                    justify-content: center;

                    a 
                    {
                        img 
                        {
                            height: auto;
                            
                        }
                    }
                }

                h1 
                {
                    font-family: 'Irish Grover', cursive;
                    text-align: center;
                    font-size: 1.5em;
                    padding-bottom: 0.2em;
                    border-bottom: solid 2px;
                }
            }
            

            nav 
            {
                margin-top: 3vh;

                .menu-navigation-container //div
                {
                    

                    #menu-navigation //ul
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        li 
                        {
                            text-align: center;
                            height: 2.4em;
                            
                            
                            
                            a 
                            {
                            
                                text-decoration: none;
                                color: black;
                                font-size: 1.1em;
                                font-family: 'Sofadi One', cursive;
                                width: auto;
                            }

                            a:hover 
                            {
                                
                                color: rgba(107, 66, 5, 0.911);
                                font-weight: 800;
                            }

                            .sub-menu
                            {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                display: none;

                            }
        
                        }

                        li:hover .sub-menu
                        {
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            padding-top: 1.2em;
                            margin-left: 13vw;
                            width: 15vw;
                            height: 20vh;
                            border: solid 5px rgba(107, 66, 5, 0.911);
                            
                        }

                    }
                }

                #social-icons
                {
                    display: flex;
                    flex-direction: row;
                    gap: 2em;
                    justify-content: center;
                    margin-top: 5em;

                    li 
                    {

                    }
                }
                
            }
            
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px)
{
    #header
    {
        padding: 1em;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-content: center;
        border: solid 5px rgba(107, 66, 5, 0.911);

        aside
        {
            display: flex;
            flex-direction: row;
            gap: 8em;

            section
            {
                display: flex;
                flex-direction: column;
                gap: 3em;
                margin-top: 8vh;

                figure 
                {
                    display: flex;
                    justify-content: center;
                    align-content: center;

                    a 
                    {
                        img 
                        {
                            height: auto;
                            
                        }
                    }
                }

                h1 
                {
                    font-family: 'Irish Grover', cursive;
                    text-align: center;
                    font-size: 1.8em;
                    padding-bottom: 0.2em;
                    border-bottom: solid 2px;
                }
            }
            

            nav 
            {
                margin-top: 3vh;

                .menu-navigation-container //div
                {
                    

                    #menu-navigation //ul
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        li 
                        {
                            text-align: center;
                            height: 2.4em;
                            
                            
                            
                            a 
                            {
                            
                                text-decoration: none;
                                color: black;
                                font-size: 1.1em;
                                font-family: 'Sofadi One', cursive;
                                width: auto;
                            }

                            a:hover 
                            {
                                
                                color: rgba(107, 66, 5, 0.911);
                                font-weight: 800;
                            }

                            .sub-menu
                            {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                display: none;

                            }
        
                        }

                        li:hover .sub-menu
                        {
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            padding-top: 1.2em;
                            margin-left: 13vw;
                            width: 15vw;
                            height: 20vh;
                            border: solid 5px rgba(107, 66, 5, 0.911);
                            
                        }

                    }
                }

                #social-icons
                {
                    display: flex;
                    flex-direction: row;
                    gap: 2em;
                    justify-content: center;
                    margin-top: 2em;

                    li 
                    {

                    }
                }
                
            }
            
        }
    }
}

@media (min-width: 427px) and (max-width: 767px)
{
    #header
    {
        padding: 1em;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-content: center;
        border: solid 5px rgba(107, 66, 5, 0.911);

        aside
        {
            display: flex;
            flex-direction: row;
            gap: 8em;

            section
            {
                display: flex;
                flex-direction: column;
                gap: 3em;
                margin-top: 8vh;

                figure 
                {
                    display: flex;
                    justify-content: center;
                    align-content: center;

                    a 
                    {
                        img 
                        {
                            height: auto;
                            
                        }
                    }
                }

                h1 
                {
                    font-family: 'Irish Grover', cursive;
                    text-align: center;
                    font-size: 1.8em;
                    padding-bottom: 0.2em;
                    border-bottom: solid 2px;
                }
            }
            

            nav 
            {
                margin-top: 3vh;

                .menu-navigation-container //div
                {
                    

                    #menu-navigation //ul
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        li 
                        {
                            text-align: center;
                            height: 2.4em;
                            
                            
                            
                            a 
                            {
                            
                                text-decoration: none;
                                color: black;
                                font-size: 1.1em;
                                font-family: 'Sofadi One', cursive;
                                width: auto;
                            }

                            a:hover 
                            {
                                
                                color: rgba(107, 66, 5, 0.911);
                                font-weight: 800;
                            }

                            .sub-menu
                            {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                display: none;

                            }
        
                        }

                        li:hover .sub-menu
                        {
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            padding-top: 1.2em;
                            margin-left: 13vw;
                            width: 15vw;
                            height: 20vh;
                            border: solid 5px rgba(107, 66, 5, 0.911);
                            
                        }

                    }
                }

                #social-icons
                {
                    display: flex;
                    flex-direction: row;
                    gap: 2em;
                    justify-content: center;
                    margin-top: 2em;

                    li 
                    {

                    }
                }
                
            }
            
        }
    }
}

@media (max-width: 426px)
{
    #header
    {
        padding: 1em;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-content: center;
        border: solid 5px rgba(107, 66, 5, 0.911);

        aside
        {
            display: flex;
            flex-direction: row;
            gap: 8em;

            section
            {
                display: flex;
                flex-direction: column;
                gap: 3em;
                margin-top: 8vh;

                figure 
                {
                    display: flex;
                    justify-content: center;
                    align-content: center;

                    a 
                    {
                        img 
                        {
                            height: auto;
                            
                        }
                    }
                }

                h1 
                {
                    font-family: 'Irish Grover', cursive;
                    text-align: center;
                    font-size: 1.8em;
                    padding-bottom: 0.2em;
                    border-bottom: solid 2px;
                }
            }
            

            nav 
            {
                margin-top: 3vh;

                .menu-navigation-container //div
                {
                    

                    #menu-navigation //ul
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        li 
                        {
                            text-align: center;
                            height: 2.4em;
                            
                            
                            
                            a 
                            {
                            
                                text-decoration: none;
                                color: black;
                                font-size: 1.1em;
                                font-family: 'Sofadi One', cursive;
                                width: auto;
                            }

                            a:hover 
                            {
                                
                                color: rgba(107, 66, 5, 0.911);
                                font-weight: 800;
                            }

                            .sub-menu
                            {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                display: none;

                            }
        
                        }

                        li:hover .sub-menu
                        {
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            padding-top: 1.2em;
                            margin-left: 13vw;
                            width: 15vw;
                            height: 20vh;
                            border: solid 5px rgba(107, 66, 5, 0.911);
                            
                        }

                    }
                }

                #social-icons
                {
                    display: flex;
                    flex-direction: row;
                    gap: 2em;
                    justify-content: center;
                    margin-top: 2em;

                    li 
                    {

                    }
                }
                
            }
            
        }
    }
}

@media (max-height: 870px)
{
    #header
    {
        padding: 1em;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        border: solid 5px rgba(107, 66, 5, 0.911);
        position: sticky;

        aside
        {
            display: flex;
            flex-direction: column;
            gap: 3em;
            margin-top: 3vh;
            

            section
            {
                display: flex;
                flex-direction: column;
                gap: 1.4em;
                

                figure 
                {
                    display: flex;
                    justify-content: center;

                    a 
                    {
                        img 
                        {
                            height: auto;
                            
                        }
                    }
                }

                h1 
                {
                    font-family: 'Irish Grover', cursive;
                    text-align: center;
                    font-size: 2.5em;
                    padding-bottom: 0.2em;
                    border-bottom: solid 2px;
                }
            }
            

            nav 
            {
                margin-top: 3vh;

                .menu-navigation-container //div
                {
                    

                    #menu-navigation //ul
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        li 
                        {
                            text-align: center;
                            height: 2.4em;
                            
                            
                            
                            a 
                            {
                            
                                text-decoration: none;
                                color: black;
                                font-size: 1.5em;
                                font-family: 'Sofadi One', cursive;
                                width: auto;
                            }

                            a:hover 
                            {
                                
                                color: rgba(107, 66, 5, 0.911);
                                font-weight: 800;
                            }

                            .sub-menu
                            {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                display: none;

                            }
        
                        }

                        li:hover .sub-menu
                        {
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            padding-top: 1.2em;
                            margin-left: 13vw;
                            width: 15vw;
                            height: 20vh;
                            border: solid 5px rgba(107, 66, 5, 0.911);
                            
                        }

                    }
                }

                #social-icons
                {
                    display: flex;
                    flex-direction: row;
                    gap: 2em;
                    justify-content: center;
                    margin-top: 5em;

                    li 
                    {

                    }
                }
                
            }
            
        }
    }
}

