#les-branches {
    grid-column: 2/3;
    display: grid;
    padding: 3rem;
    width: 92%;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

    &>h1 {
        text-align: center;
        font-family: 'Irish Grover', cursive;
        font-size: 2.8rem;
        margin-bottom: 2.2rem;
    }

    &>p:nth-of-type(1) {}

    &>h2 {
        font-family: 'Irish Grover', cursive;
        font-size: 2.1rem;
        margin-bottom: 1.8rem;
    }

    &>p {
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
        padding-left: 1rem;
    }

    &>nav {
        margin-bottom: 4vh;
        display: flex;

        ul {
            display: flex;
            flex-direction: row;
            gap: 1em;

            li {
                background-color: rgba(107, 66, 5, 0.911);

                a {
                    line-height: 3.3rem;
                    font-family: "Sofadi One", cursive;
                    font-size: 1.8rem;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    padding: 0.4em;
                }

                a:hover {
                    box-shadow: 0 0 20px rgba(33, 33, 33);
                }
            }
        }
    }
}