
#les-actions{
    grid-column: 2/3;
    display: grid;
    
    padding: 3rem;
    width: 92%;
    // margin:0 auto;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
   
    & > h1{
        
    }
    & > p{

    }
    & > ul{
        & > li{
            &>article{
                &>h2{

                }
                &>p{

                }
            }
        }
    }

    
    
}
