
#les-actions{
    grid-column: 2/3;
    display: grid;
    
    padding: 3rem;
    width: 92%;
    // margin:0 auto;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
   
   &> section{
    // display:grid;
    & > h1{
        font-size:2.4rem;
        line-height:3rem;
        text-align:center;
        margin-bottom:2rem;
        font-family: "Irish Grover";
    }
    & > p{
        font-size:1.6rem;
        line-height:3rem;
    }
    & > ul{
        & > li{
            &>article{
                &>h2{
                    font-family: "Irish Grover";
                    margin-bottom:1rem;
                    margin-top:2rem;
                    font-size:2.2rem;
                    text-align: center;
                    line-height:3rem;
                }
                &>p{
                    font-size:1.6rem;
                    text-align: center;
                    line-height:3rem;
                }
            }
        }
    }

   }
    
    
}
